<!DOCTYPE html>
<html lang="en">
  <%-include("./components/head.ejs") %>
  <body>
    <%-include("./components/navbar.ejs") %>
    <div class="container">
      <h3>I am about page</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi suscipit
        exercitationem nam sit possimus earum ducimus ullam eveniet repellendus,
        autem odio dolore natus itaque a recusandae iusto, nulla nesciunt
        laboriosam.
      </p>
    </div>
  </body>
</html>
