* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: bisque;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 18px;
}
h1 a {
  font-size: 30px;
}
nav a:hover {
  color: red;
}
.list {
  display: flex;
  gap: 20px;
}
.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}
.card {
  margin: 20px 0;
}
